.name {
    margin: 30px;
}

.carImageWrapper {
    margin: 30px;
    height: fit-content;
    width: fit-content;
    box-shadow: 0 0 4px -2px black;
}

.carImageWrapper > img {
    max-height: 300px;
}

.carStat {
    margin: 30px;
    font-size: 18px;    
}